/* App.css */
.app-background {
  background-color: lightgreen;
  height: 100vh;
}

/* 3D Text Effect */
.text-3d {
  text-shadow:
    1px 1px 0px #ccc,
    2px 2px 0px #c9c9c9,
    3px 3px 0px #bbb,
    4px 4px 0px #b9b9b9,
    5px 5px 0px #aaa,
    6px 6px 1px rgba(0,0,0,.1),
    0px 0px 5px rgba(0,0,0,.1),
    1px 1px 3px rgba(0,0,0,.3),
    3px 3px 5px rgba(0,0,0,.2),
    5px 5px 10px rgba(0,0,0,.25),
    10px 10px 10px rgba(0,0,0,.2),
    20px 20px 20px rgba(0,0,0,.15);
  transform: perspective(500px) rotateX(15deg);
}

/* Hover Fade Animation */
.animate-fade-in-out {
  opacity: 0.6;
  transition: opacity 0.5s ease-in-out;
}

.animate-fade-in-out:hover {
  opacity: 1;
}
